@charset "UTF-8";

footer{
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
}

footer img{
    padding-bottom: 55px;
}

footer a:nth-child(-n+2){
    padding-right: 18px;

}

footer nav img:hover{
    transform: scale(110%);
    transition: 0.3s;
}