@charset "UTF-8";

main{

    color: var(--purple-900);
    font-family: var(--fonte-texto);
    background-color: var(--purple-100);
}



/* SECTION 1 */

main section#one{
    padding: 0px 20px;
    background-image: url(../assets/images/main/ovalBG-phone.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-color: var(--purple-100);
}

main section#last{
    padding: 0px 20px;
    background-color: white
}

main img.webApp {
    width: 320px;
    height: 185px;
    margin-top: -104px;
    
    position: relative;
    z-index: 3;

}

main div:nth-child(1){
    display: flex;
    justify-content: center;
}






div.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;
    margin-bottom: 32px;

}
div.content:first-child{
    margin-top: 64px;
}

div.content:last-child {
    padding-bottom: 96px;
    margin-bottom: 0px
}

aside.number{
    display: grid;
    place-items: center;

    font-weight: bolder;

    width: 48px;
    height: 48px;
    border: 1.5px solid var(--purple-500);
    border-radius: 50%;

    margin-bottom: 24px;
}

div.content h2{
    font-family: var(--fonte-destaque);
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 120%;
}

div.content p{
    font-size: 16px;
    line-height: 180%;
}



/* SECTION 2 */

main section img.founder{
    position: relative;
    z-index: 1;

    width: 280px;
    height: 280px;

    

    display: flex;
    margin: auto;

    padding-top: 112px;
    
    
}

main div.about{

    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    margin-top: -45px;
    

    max-width: 335px;
    background-color: var(--purple-900);
    padding: 32px 32px 50px 32px;
  
    
    color: white;
    font-weight: 200;
    line-height: 120%;

    text-align: center;

    /* margin-bottom: 100px; */
}

main div.about h2{
    font-family: var(--fonte-destaque);
    font-size: 32px;
    margin-bottom: 32px;
}
main div.about p{
    font-family: var(--fonte-texto);
    font-size: 16px;
    line-height: 180%;
    padding-bottom: 32px;
}

main div a{
    font-family: var(--fonte-texto);
    text-decoration: none;
    font-size: 16px;
    

    background-color: var(--green);
    padding: 15px 32px;

    margin: 0px;
    
    font-weight: bolder;
    color: var(--purple-900);
}
a{
    font-weight: bolder;
}
/* hover efects style in the header.css archive */



@media screen and (min-width: 760px) {
    /* SECTION 1 */
    
        main section#one {
            padding: 56px, 44px 44px 44px;
            background-image: url(../assets/images/main/ovalBG-tablet.png);

        }
    
        main section#last {
            padding: 0px 44px;
            background-color: white;
  
        }
    
        main img.webApp {
            width: 515px;
            height: 300px;
            margin-top: -160px;
    
        }


        div.content {
            
            flex-direction: row;
            text-align: left;
    
            align-items: center;
            
            margin-bottom: 32px;
            padding-right: 44px;
            
        }

    
        div.content:last-child {
            padding-bottom: 106px;

        }
    
        aside.number {

            
            min-width: 48px;
            min-height: 48px;
 
            
            margin: 0px 56px 0px 24px;

            
            
        }
    
        div.content h2 {
            font-size: 28px;
            margin-bottom: 28px;
    
        }
    
     /* SECTION 2 */
        

    main section img.founder{
        display: flex; 
        margin: 0;
        
    }

    main div.about{

        position: absolute;
        right: 0%;

        left: auto;
        transform: translate(0%);

        margin-right: 44px;
        padding: 48px;
        padding-bottom: 50px;
        
        margin-top: -110px;

        max-width: 400px;
        height: 290px;
        border-radius: 10px;

       
        
        text-align: left;
        


        margin-bottom: 200px;
    }

    main div.about h2{
        font-size: 48px;
        margin-bottom: 32px; 
        
    }
    main div.about p{
        margin-bottom: 32px;
    }

    main div a{
        font-size: 18px;
        

 
        

    }

    /* hover efects style in the header.css archive */

   
}


@media screen and (min-width: 1200px) {
    /* SECTION 1 */
    
        main section#one {
        
            background-image: url(../assets/images/main/ovalBG-desktop.png);
            
            padding: 0px 108px;

            display: flex;
            justify-content: center;
            align-items: center;
    
        }
    
        main section#last {
            padding: 112px 140px 0px 140px;
           
    
        }
    
        main img.webApp {
            width: 750px;
            height: 440px;
            margin-top: -270px;
    
        }
    
    
        div.content {
    
            flex-direction: column;
            text-align: center;
            
            align-items: center;
    
            margin-bottom: 0px;
            padding: 88px 32px 216px 32px;

            max-width: 350px;
    
        }
        
        div.content:first-child{
            margin-top: 0px;
        }
        
        div.content:last-child {
            padding-bottom: 216px;
    
        }
    
        aside.number {
    
    
            min-width: 56px;
            min-height: 56px;
    
    
            margin: 0px 0px 56px 0px;
    
    
    
        }
    
        div.content h2 {
            font-size: 32px;
            /* margin-bottom: 28px; */
    
        }

        div.content p{
            font-size: 18px;
        }

    /* SECTION 2 */
    
    section#last{
        display: grid;
        place-content: center;
    }

    main section img.founder{
        /* display: flex; 
        margin: 0; */

        z-index: 2;
        width: 480px;
        height: 480px;
        padding-top: 0px;
        
    }

    main div.about{

        position: relative;
        right: 0%;

        left: 0%;
        transform: translate(0);

        margin-right: 0px;
        margin-left: 380px;
        
        margin-top: -320px;
        margin-bottom: 0px;
        
        max-width: 580px;
        max-height: 400px;
        
        
        padding: 64px;
        padding-bottom: 30px;
        padding-top: 70px;
        border-radius: 0px;


    }

    main div.about h2{
        font-size: 58px;
        margin-bottom: 52px; 
        margin-top: 20px;
        
    }
    main div.about p{
        margin-bottom: 20px;
        font-size: 17px
    }



    /* hover efects style in the header.css archive */

}